/* Comiendo del HEADER */
.header-mobile {
    display:none;
}
.header-desktop {
    display:block;
    height: 100%;
}

.header {
    // background-image: url(../imagenes/mar.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: #c2c9cd;
    width: 100%;
    height: 50px;
    display: inline-flex;
    grid-column: 1/2;
    grid-area: header;
    margin-bottom: 0;
        .header__h1 {
        font-style:$ItalicStyle;
        color:black;
        padding: 1em;
            }
        .header-desktop {
            .header__nav {
                display:flex;
                flex-flow:row;
                flex-wrap:wrap;
                justify-content:flex-end;
                height: 100%;
                    .nav__ul {
                        margin-bottom: 0;
                        display:flex;
                        flex-flow:row;
                        flex-wrap:wrap;
                        align-items: center;
                        height: 100%;
                            .nav__ul--li {
                                height: 100%;
                                display:inline-block;
                            }
                            .nav__ul--li-a {
                                background-color:#0000009e;
                                text-decoration: none;
                                color:#f8f9f9;
                                padding:10px;
                                display:block;
                                height: 100%;
                                    }
                            .nav__ul--li-a:hover {
                                background-color:#f7dc6f;
                                    }
                            }
                            }    
            }
        }

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }