/* Colores */
$ColorPrincipal:#ffffff;

/* Letras */
$ItalicStyle:italic;

$HeightNosotros:1.7rem;

$SizeNosotros:1.4em;

$IndentText:2.5em;

/* Bordes */
$RadioBorder:20px;

$BorderSolid:1px solid grey;