
@import "vars";
@import "header";
@import "section";
@import "footer";
@import "media";

/* Comienzo estilos generales */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body {
    // background-color:#8405F0;
    // background-image:url(../imagenes/fondoazul.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color:#547794;
}

// .contenedor {
//     display:grid;
//     grid-template-columns: 1fr;
//     grid-template-areas:
//     "header header"
//     "jumbotron jumbotron"
//     "main main"
//     "piecontacto piecontacto";
//     // background-image:url(../imagenes/fondoazul.jpg);
//     // background-size: cover;
//     // background-repeat: no-repeat;
//     background-color:#547794;
// }

.jumbo-container {
    color:#fff;
    overflow: hidden;
    margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
        .lead {
            font-size: 1.9rem;
        }

}